# Python
__pycache__/
*.pyc
venv/
.env

# Node/React
frontend/node_modules/
frontend/.env
frontend/build/

# Logs & junk
*.log
.DS_Store

# Large data files
data/
*.json
*.csv
*.xlsx

# VSCode & PyCharm
.vscode/
.idea/
